@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Fraunces:  'Fraunces', serif;

    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%)
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Cream);
}

main{
    display: flex;
    min-height: 100vw;
    align-items: center;

}

.box{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0 13px 13px 0;
}

.wrapper{
    display: grid;
    grid-template-columns:  1fr 1fr;

}

img{
    width: 250px;
    height: 400px;
    overflow: hidden;
    border-radius: 13px 0 0 13px;
}
 
.text {
    color: var(--Very-dark-blue);
    padding: 35px;
    /* text-transform: uppercase; */
}

.titulo{
    font-family: var(--font-Fraunces);
    margin-top: 20px;
}

.paragrafo{
    font-size: 14px;
    margin: 20px 0 0 0;
}

